<form [formGroup]="addressSelectionForm">
  <input formControlName="addressId" type="hidden">
  <div *ngIf="!showAddAddressForm" @staggerAnimation class="address-container">
    <div *ngIf="address$ | async as addresses " class="address-grid">
      <app-address-card (cardClick)="onCardClick(address.id)"
                        *ngFor="let address of addresses"
                        [address]="address"
                        [selected]="selectedAddressId === address.id">
      </app-address-card>
    </div>
  </div>
  <div class="button-container">
    <button *ngIf="!showAddAddressForm" class="back-btn"
            color="warn" mat-raised-button matStepperPrevious>
      back
    </button>
    <button (click)="toggleAddAddressForm(); onAddNewAddressClick()"
            [ngClass]="{ 'smaller': selectedAddressId && !showAddAddressForm }"
            class="add-address-btn" color="accent"
            mat-raised-button>
      {{ showAddAddressForm ? 'Select Existing Address' : 'Add New Address' }}
    </button>
    <button *ngIf="!showAddAddressForm" [disabled]="!addressSelectionForm.valid"
            class="add-address-btn next-btn" color="primary"
            mat-raised-button matStepperNext>
      Next
    </button>
  </div>
  <div *ngIf="showAddAddressForm" @slideInOut class="address-add-form">
    <!-- Address add form content -->
    <app-address-form (address)="onAddressFormSubmit($event)"
                      (valid)="onAddressFormValidity($event)"></app-address-form>
  </div>
</form>


