@use '@angular/material' as mat;

$my-palette: mat.define-palette(mat.$lime-palette);
.address-container {
  max-height: calc(100vh / 3);
  overflow-y: auto;
}

.address-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(21vh, 1fr));
  grid-gap: 1rem;
  padding-right: 8px;
}

.add-address-btn {
  width: 100%;
  margin-top: 1rem;
}

.add-address-btn.smaller {
  width: 80%; // Adjust the width as desired
  transition: width 0.3s ease-in-out;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}

.back-btn {
  width: 10%;
  margin-top: 1rem;
  margin-right: 1rem;
  float: left;
  transition: width 0.3s ease-in-out;
}

.next-btn {
  float: right;
  margin-left: 1rem;
  width: 10%; // Adjust the width as desired
  transition: width 0.3s ease-in-out;
}

/* Custom scrollbar styles */
.address-container::-webkit-scrollbar {
  width: 8px;
}

.address-container::-webkit-scrollbar-track {
  background: transparent;
}

.address-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
