<form [formGroup]="dateForm">
  <div class="date-picker-container">
    <div class="date-input-container">
      <mat-slide-toggle (click)="toggleMultiple()" formControlName="isMultipleDates">Multiple Dates</mat-slide-toggle>
      <mat-form-field [ngStyle]="{'width': multipledate ? '60%' : '80%'}">
        <mat-label>Date</mat-label>
        <input [matDatepicker]="picker" formControlName="date" matInput>
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button (click)="addDate()" *ngIf="multipledate" @fadeSlideInOut [disabled]="!dateForm.get('date')?.valid"
              color="primary"
              mat-raised-button>
        Add Date
      </button>
    </div>
  </div>
  <div *ngIf="multipledate" class="selected-dates">
    <div
      *ngFor="let date of selectedDates; let i = index"
      @fadeSlideInOut
      class="selected-date"
    >

      {{ date | date }}
      <button (click)="removeDate(i)" color="warn" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>


    </div>
  </div>
</form>
<div class="submit-button">
  <button color="warn" mat-raised-button matStepperPrevious>Back</button>
  <button [disabled]="!isvalid()" color="primary" mat-raised-button matStepperNext>Next</button>
</div>
