<div class="event-card-wrapper">
  <a (click)="onlinkclick(eventData?.event?.id ?? '')" class="custom-raised-btn" mat-raised-button>
    <div class="header">
      <img [src]="useravatar" alt="Profile picture" class="profile-picture" mat-card-image>
      <div class="name">
        <h4>{{ eventData!!.event!!.name }}</h4>
      </div>
    </div>
    <div class="date">
      <p *ngIf="eventData?.event?.selectedDate?.date">Selected Date: {{ eventData?.event?.selectedDate?.date }}</p>
    </div>
    <div class="location-members">
      <p>Location: {{ eventData?.event?.address?.country?.code }}, {{ eventData?.event?.address?.city }}</p>
      <p>Members: {{ eventData?.event?.members?.length }}</p>
    </div>
    <div *ngIf="togglesDetails" class="details">
      {{ eventData!!.event.description }}
    </div>

  </a>
</div>
