@use '@angular/material' as mat;

.member-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1%;
  background-color: mat.get-color-from-palette(mat.$blue-grey-palette, 700);
  border-radius: 10px;
  flex-direction: row;
  min-height: 5vh;
  width: 100%;
}

.member-header {
  display: flex;
  align-items: center;
  margin-right: 2%;
}

.avatar-container {
  margin-right: 8px;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.member-info {
  display: flex;
  flex-direction: column;
}

.member-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.member-role {
  font-size: 0.9rem;
  color: gray;
}

.member-content {
  display: flex;
  flex-direction: column;
}

.role-selector {
  margin-bottom: 8px;
}

.participation-button {
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.non-participation-button {
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.participation-button:hover {
  background-color: mat.get-color-from-palette(mat.$green-palette, A400);
}

.non-participation-button:hover {
  background-color: mat.get-color-from-palette(mat.$red-palette, A400);
}

.participation-icon {
  margin-left: 4px;
}


$my-palette: mat.define-palette(mat.$blue-grey-palette);
.bg {
  background-color: mat.get-color-from-palette(mat.$blue-grey-palette, 700);
}

.participation-selector {
  display: flex;
  gap: 1vw;
}
