@use '@angular/material' as mat;

$my-palette: mat.define-palette(mat.$blue-grey-palette);
$green-palette: mat.define-palette(mat.$green-palette);

.register-link {
  margin-top: 1rem;
  text-align: center;

  a {
    color: mat.get-color-from-palette($green-palette, 500);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: mat.get-color-from-palette($my-palette, 900);
  padding: 8px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  box-sizing: border-box;
}

mat-form-field {
  width: 100%;
}

.submit-button {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
