<mat-toolbar color="primary">
  <span>Clever Party thrower</span>
  <span class="spacer"></span>
  <div>
    <button (click)="menuOpen()" [matMenuTriggerFor]="appMenu" mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button (click)="logout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<div id="main">
  <section class="scrollable-section" id="eventList">
    <div class="dashboard">
      <div *ngIf="userEvents$ | async as userEvents" class="event-card-container">
        <button (click)="openCreateEventForm()" class="add-event-btn" color="primary" mat-raised-button>
          <mat-icon>add</mat-icon>
        </button>
        <div *ngFor="let event of userEvents.user.eventToUsers">
          <app-event-info [cliked]="linked" [eventData]="event"></app-event-info>
        </div>

      </div>


      <!-- Add your existing form component here when the button is clicked -->
      <app-event-form *ngIf="showCreateEventForm"></app-event-form>
    </div>
  </section>
  <section *ngIf="eventId" class="scrollable-section" id="eventDetails">
    <app-event-details></app-event-details>
  </section>
</div>

