<div class="container">
  <h2 *ngIf="!showtooltipMessage">Request Password Reset</h2>
  <form (ngSubmit)="onSubmit()" *ngIf="!showtooltipMessage" [formGroup]="requestResetForm!" class="container">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput required type="email">
      <mat-error *ngIf="requestResetForm?.get('email')?.invalid && requestResetForm?.get('email')?.touched">
        Please enter a valid email address.
      </mat-error>
    </mat-form-field>

    <button [disabled]="requestResetForm?.invalid!" color="primary" mat-raised-button type="submit">Request Reset
    </button>
  </form>

  <h2 *ngIf="showtooltipMessage"> Follow the link you received by email</h2>
</div>
