.member-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}

app-member {
  display: flex;
  width: 100%;
  padding: 0.4vh;
}

.btncontainer {
  display: flex;
  justify-content: space-around;
}
