<h1>Create Car</h1>
<form (ngSubmit)="submitForm()" [formGroup]="carForm" class="form-container">
  <div class="form-field-row">
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Brand</mat-label>
        <input formControlName="brand" matInput required>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Model</mat-label>
        <input formControlName="model" matInput required>
      </mat-form-field>
    </div>
  </div>
  <div class="form-field-row">
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Max Passengers</mat-label>
        <input formControlName="maxPassengers" matInput required type="number">
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Consumption (L/100km)</mat-label>
        <input formControlName="consumption" matInput required type="number">
      </mat-form-field>
    </div>
  </div>
  <div class="form-field-row">
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Boot Size</mat-label>
        <mat-select formControlName="bootSize" required>
          <mat-option *ngFor="let size of bootSizes" [value]="size">{{ size }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Fuel</mat-label>
        <mat-select formControlName="fuel" required>
          <mat-option *ngFor="let fuel of fuels" [value]="fuel">{{ fuel }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="form-field-row">
    <div class="form-field">
      <mat-slide-toggle formControlName="manualTransmission">Manual Transmission</mat-slide-toggle>
    </div>

    <div class="slider-value range-field">
      <mat-slider formControlName="range" max="1400" min="100" thumbLabel tickInterval="10"></mat-slider>
      <input [value]="carForm.get('range')?.value" class="range-field" formControlName="range" matInput required><span> km</span>
    </div>
  </div>

  <button color="primary" mat-raised-button type="submit">Create</button>
</form>
