<div class="wrapper">
  <div class="container bg">
    <h1 class="title"> Join The Party</h1>
    <mat-stepper [linear]="isLinear" class="bg">
      <mat-step [stepControl]="step1FormGroup" class="bg">
        <form [formGroup]="step1FormGroup">
          <ng-template matStepLabel>User Info</ng-template>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput required type="email">
            <mat-error *ngIf="step1FormGroup.get('email')?.hasError('email')">Please enter a valid email address
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
            <input [type]="toggle.type" formControlName="password" matInput required>
            <mat-hint align="end" aria-live="polite">
              {{step1FormGroup.get('password')?.value.length}}
            </mat-hint>
            <mat-error *ngIf="step1FormGroup.get('password')?.hasError('minlength')">
              Password to short
            </mat-error>
          </mat-form-field>
          <mat-password-strength #passwordComponent [password]="password?.value">
          </mat-password-strength>
          <mat-password-strength-info
            *ngIf="showDetails"
            [passwordComponent]="passwordComponent">
          </mat-password-strength-info>
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
            <input [type]="toggle.type" formControlName="confirmPassword" id="confirmPassword" matInput required>
            <mat-error *ngIf="step1FormGroup.get('confirmPassword')?.hasError('equalValidator')">
              Password and confirmation do not match
            </mat-error>
          </mat-form-field>
          <div class="submit-button">
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="step2FormGroup">
        <form [formGroup]="step2FormGroup">
          <ng-template matStepLabel>Address</ng-template>
          <mat-form-field>
            <mat-label>Street Number</mat-label>
            <input formControlName="streetNumber" matInput required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Unit Number</mat-label>
            <input formControlName="unitNumber" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Address Line 1</mat-label>
            <input formControlName="line1" matInput required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Address Line 2</mat-label>
            <input formControlName="line2" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>City</mat-label>
            <input formControlName="city" matInput required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Postal Code</mat-label>
            <input formControlName="postalCode" matInput required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Country</mat-label>
            <mat-select formControlName="countryId" required>
              <!-- Populate the mat-option with your list of countries -->
              <mat-option *ngFor="let country of countries" [value]="country.id"> {{country.code}}
                | {{country.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="step3FormGroup">
        <form [formGroup]="step3FormGroup">
          <ng-template matStepLabel>Licence</ng-template>
          <div class="checkboxes">
            <mat-slide-toggle color="primary" formControlName="drivingLicence">Do you have a driving licence?
            </mat-slide-toggle>
            <mat-slide-toggle *ngIf="step3FormGroup.get('drivingLicence')?.value" [@fadeInOut]
                              color="primary" formControlName="manual">
              Can you drive manual transmission cars?
            </mat-slide-toggle>
          </div>
          <div class="submit-button">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="step4FormGroup">
        <form [formGroup]="step4FormGroup">
          <ng-template matStepLabel>Avatar</ng-template>
          <!-- Use dicebear API to generate avatars and display them here -->
          <!-- Add your logic to fetch avatars from dicebear and display them as selectable items -->
          <div class="avatar-container">
            <mat-radio-group class="avatar-container" formControlName="avatar" required>
              <div *ngFor="let avatarUrl of avatarUrls" class="avatar-option">
                <img [src]="avatarUrl" alt="Avatar" class="avatar">
                <mat-radio-button [value]="avatarUrl"></mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
          <div class="submit-button">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You're now ready to submit your registration!</p>
        <div class="submit-button">
          <button mat-button matStepperPrevious>Back</button>
          <button (click)="onSubmit()" mat-button>Submit</button>
        </div>
      </mat-step>
    </mat-stepper>
    <small class="disclaimer">Fields marked with an * are required.</small>
  </div>
</div>
