<div *ngIf="!invalidToken" class="container">
  <h2>Reset Password</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm!" class="container">
    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input formControlName="password" matInput required type="password">
      <mat-error *ngIf="resetPasswordForm?.get('password')?.invalid && resetPasswordForm?.get('password')?.touched">
        Please enter a valid password.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input formControlName="confirmPassword" matInput required type="password">
      <mat-error
        *ngIf="resetPasswordForm?.get('confirmPassword')?.invalid && resetPasswordForm?.get('confirmPassword')?.touched">
        Passwords do not match.
      </mat-error>
    </mat-form-field>

    <button [disabled]="resetPasswordForm?.invalid!" color="primary" mat-raised-button type="submit">Reset Password
    </button>
  </form>
  <div *ngIf="!invalidToken">
    <h2>Your Token is expired request a new one</h2>
    <app-request-password-reset></app-request-password-reset>
  </div>

</div>
