.title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

mat-form-field {
  width: 100%;
  align-content: space-between;
}

.submit-button {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
