<form (ngSubmit)="onSubmit()" [formGroup]="addressForm">
  <ng-template matStepLabel>Address</ng-template>
  <mat-form-field>
    <mat-label>Address</mat-label>
    <input autocomplete="address-line1" formControlName="line1" matInput required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apt, Suite, Unit, Floor, etc.</mat-label>
    <input autocomplete="address-line2" formControlName="unitNumber" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>City</mat-label>
    <input autocomplete="address-level2" formControlName="city" matInput required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Postal Code</mat-label>
    <input autocomplete="postal-code" formControlName="postalCode" matInput required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Country</mat-label>
    <mat-select autocomplete="country" formControlName="countryId" required>
      <!-- Populate the mat-option with your list of countries -->
      <mat-option *ngFor="let country of countries" [value]="country.id"> {{country.code}}
        | {{country.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="submit-button">
    <button mat-button matStepperPrevious>Back</button>
    <button [disabled]="!addressForm.valid" color="primary" mat-raised-button matStepperNext type="submit">Next</button>
  </div>
</form>
