@use '@angular/material' as mat;

.item-container {
  display: flex;
  gap: 1vh;
  flex-direction: column;
  max-height: 80vh;
  overflow: auto;
}

.item-container::-webkit-scrollbar {
  width: 8px;
}

.item-container::-webkit-scrollbar-thumb {
  background-color: #726f6f; // Change to your preferred color
  border-radius: 4px;
}

// Style the scrollbars (Firefox)
.item-container {
  scrollbar-width: thin;
  scrollbar-color: #726f6f transparent; // Change to your preferred color
}

.shopping-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1%;
  background-color: mat.get-color-from-palette(mat.$blue-grey-palette, 700);
  border-radius: 10px;
  flex-direction: row;
  min-height: 5vh;

}

.item-name,
.item-price,
.item-assigned,
.item-bought {
  flex: 1 0 200px; /* this means the items will wrap if the width becomes less than 200px */
  margin: 5px;
  text-align: center;
}

.item-assigned {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-assigned img {
  width: 50px; /* adjust this as needed */
  height: 50px; /* adjust this as needed */
  border-radius: 50%; /* makes the image circular */
  margin-left: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
}
