<form [formGroup]="addressSelectionForm">
  <input formControlName="addressId" type="hidden">
  <div @staggerAnimation class="address-container">
    <div *ngIf="!showAddAddressForm" @slideInOut class="address-grid">
      <mat-card (click)="onCardClick(address.id)" *ngFor="let address of addresses"
                [ngClass]="{ 'selected': selectedAddressId === address.id }">
        <mat-card-content>
          <h3>{{address.line1}} </h3>
          <p>{{address.city}}, {{address.postalCode}}</p>
          <p>{{address.country.name}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <button (click)="toggleAddAddressForm()" class="add-address-btn" color="accent" mat-raised-button>
    {{ showAddAddressForm ? 'Select Existing Address' : 'Add New Address' }}
  </button>
  <div *ngIf="showAddAddressForm" @slideInOut class="address-add-form">
    <!-- Address add form content -->
    <app-address-form (address)="onAddressFormSubmit($event)"
                      (valid)="onAddressFormValidity($event)"></app-address-form>
  </div>
</form>

<!-- Add a button or a link to navigate to the new address creation form -->

