<div class="tab-container">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>group</mat-icon>
        <span>Members</span>
      </ng-template>
      <app-members></app-members>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>shopping_cart</mat-icon>
        <span>Shopping list</span>
      </ng-template>
      <app-shoppinglist></app-shoppinglist>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>airport_shuttle</mat-icon>
        <span>Carpool</span>
      </ng-template>
      <app-carpool></app-carpool>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>payments</mat-icon>
        <span>Expenses</span>
      </ng-template>
      <app-expenses></app-expenses>
    </mat-tab>
  </mat-tab-group>
</div>
